  #menu {
    list-style-type: none;
    height: 35px;
    background-color: #111111;
       width: 100%;
    }

  #menu li {
    float: left;
    }

  #menu li a {
    display: block;
    padding: 5px;
    width: 150px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    }

#footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 0px;
    background: black;
    color: white;
    width: 100%;
   }

#vidjet .modul  {
  padding-top: 30px;
  padding-left: 900px;
  width: 350px;
  padding-bottom: 47px;
}
